* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rowan', serif;
  }
  /* html {
    scroll-behavior: smooth;
  } */
  
  .page-wrap {
    min-height: 100vh;
    padding-top: 60px; 
    background-color: #F5F4F2;
  }

  
  button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    outline: 0;
    padding: 16px;

  }

  button:hover {
    cursor: pointer;
    color: black;
    background-color: #F5F4F2;
    transition: 0.7s;
  }
  
  h1 {
    
    margin: 0;
    margin-top: 16px;
    padding: 16px;
  }
  
  
  
  .checkout-button {
    width: 95vw;
    margin: 1em;
  }

  
  /*details */

  .container {
    display: flex;
    justify-content: space-evenly;
  }

  .img-wrap {
    margin-top: 32px;
    
  }

  .img-wrap img {
    width: 400px;
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 29.7em;
    background-color: white;
    height: fit-content;
    margin-top: 32px;
    border-radius: 5px;
    gap: 1em;
  }

  .details-wrap {
    padding: 0 16px;
    flex: 3;
  }

  .remove-button {
    flex: 1;
    margin: auto;
    text-decoration: underline;
  }
  
  .img-wrap {
    margin-top: 32px;
    text-align: center;
  }
  
  .img-wrap img {
    width: 400px;
  }
  
  .product-details {
    padding: 16px;
    position: relative;
  }
  
  .add-to-cart {
    width: 100%;
    margin-top: 16px;
  }
  
  .sign-in {
    width: 100%;
    margin-top: 16px;
  }
  
  
  .grey-button {
    background-color: #888;
    width: 100%;
  }
  
  
  .grid-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .product-item {
    align-items: center;
    box-shadow: 0px 2px 5px #888;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 400px;
  }

  .product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
    margin-top: -50px;
    padding: 0.5em;
  }
  
  .product-item img {
    height: auto;
    width: 400px;
    object-fit: cover;
    
  }
  
  .product-item a {
    width: 100%;
    text-decoration: none;
  }
  
  .total {
    margin-left: 1em;
    padding: 1em;
  }

  /*details */
  .product-container {
    align-content: center;
    display: flex;
    padding: 16px;
    width: 95vw;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
  }
  

  .product-image {
    flex: 1;
    height: 100px;
    max-width: 100px;
  }
  
  
  .cartImg {
    width: 1.5em;
  }
  
  .cartImg-login {
    width: 1.35em;
  }

  .login {
    width: 50em;
    background-color: white;
    height: auto;
    margin: 2em auto;
    border-radius: 5px;
    text-align: center;
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 10em;
    gap: 1.2em;
}

input {
    border: none;
    font-size: 1.3em;
    padding: 0.5em;
}

h3 {
    color: black;
}