* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rowan', serif;
  }
  
  .page-wrap {
    min-height: 100vh;
    padding-top: 60px; 
    background-color: #F5F4F2;
  }

  
  
  button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    outline: 0;
    padding: 16px;

  }

  button:hover {
    cursor: pointer;
    color: black;
    background-color: #F5F4F2;
    transition: 0.7s;
  }
  
  h1 {
    
    margin: 0;
    margin-top: 16px;
    padding: 16px;
  }
  
  .total-price {
    padding: 16px;
    text-align: right;
  }
  
  .checkout-button {
    width: 95vw;
    margin: 1em;
  }
  
  .product-container {
    align-content: center;
    display: flex;
    padding: 16px;
    width: 95vw;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
  }
  

  .product-image {
    flex: 1;
    height: 100px;
    max-width: 100px;
  }
  
  .details-wrap {
    padding: 0 16px;
    flex: 3;
  }
  
  .remove-button {
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  .total {
    margin-left: 1.2em;
    padding: 10px;
  }
  
  .add-to-cart {
    width: 100%;
    margin-top: 16px;
  }
  
  .sign-in {
    width: 100%;
    margin-top: 16px;
  }
  
  
  
  .grey-button {
    background-color: #888;
    width: 100%;
  }
  
  /* Nav Bar */
  .nav-bar {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-wrap {
    width: 125px;
  }
  
  .links {
    display: flex;
    gap: 1.5em; /* space between links */
    align-items: center;
  }
  
  .links a {
    color: black;
    text-decoration: none;
  }
  
  /*products*/
  .grid-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 10px;
    margin-top: 10px;
  }
  
  .product-item {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #888;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    padding: 20px;
    position: relative;
    width: 32%;
  }
  
  .product-name {
    margin-bottom: 0;
  }
  
  .product-item img {
    height: 200px;
    width: 200px;
  }
  
  .product-item a {
    width: 100%;
  }
  
  .product-item button {
    width: 100%;
  }
  

  .product-container {
    align-content: 'center';
    border-bottom: 1px solid #ddd;
  }
  /*details */

  .container {
    display: flex;
    justify-content: space-evenly;
  }

  .img-wrap {
    margin-top: 32px;
    
  }
  
  .img-wrap img {
    width: 400px;
  }

  .info {
    display: flex;
    justify-content: space-between;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 29.7em;
    background-color: white;
    height: fit-content;
    margin-top: 32px;
    border-radius: 5px;
    gap: 1em;
  }
  
  .details-wrap {
    padding: 0 16px;
    flex: 3;
  }
  
  .remove-button {
    flex: 1;
    margin: auto;
  }

  .cartImg {
    width: 1.5em;
  }
  
  .cartImg-login {
    width: 1.35em;
  }

/* 404 page*/

.notFound {
  text-align: center;
  padding: 10em;
  
}

.notFound p {
  font-size: 5em;
  font-weight: 500;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.notFound button {
  padding: 5px;
  border-radius: 4px;
}

.notFound button:hover {
  color: black;
  background-color: white;
  transition: background-color 0.7s, color 0.7s;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  border-top: #888 solid 1px;
  padding: 0.5em;
}

.footnav {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.footnav a {
  text-decoration: none;
  color: black;
}

.github {
  width: 1.7em;
}
